body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  font-weight: 500rem;
}

select {
  font-size: 2rem;
  width: 35rem;
  padding: 1rem;
  font-size: 2rem;
}
